*{
    margin: 0;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: poppins;
}
body{
    /* background-color: rgba(14, 34, 99, 0.459); */
    background-image: url("Images/man\ viewing\ clock\ 1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1{
    font-size: 30px;
    margin-top: 4rem;
    color: white;
}
#countdown{
    display:block;
    margin: auto;
   
}
.countdown_box{
    width: 10rem;
    height: 10rem;
    background-color: white;
    padding:10px;
    border-radius: 10px;
    margin: 2rem auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.countdown_number{
    color:#4c525a;
    font-size: 4.2rem;
    font-weight: bold;
    height: 65%;
}
.countdown_letter{
    color:#4c525a;
    font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
    #countdown{
        display: flex;
        width: 100%;
        height: 90vh;
        align-items: center;
        justify-content: space-between;
        padding: 0 10rem;
    }
  }